body{
    background: rgb(255, 255, 255);
}

div{
    height: 30em;
    /* height: 500px; */
    /* background-color: rgb(97, 96, 96);
    opacity: 0.6;
    filter: blur(1px); */
}

h1{
    padding-left: 3%;
    font-size: 2em;
    /* font-size: 30px; */
    font-family: 'Times New Roman', Times, serif;
}

h2{
    text-align: center;
    font-size: 2em;
    /* font-size: 30px; */
    font-family: 'Times New Roman', Times, serif;
}

hr{
    width: 10%;
}

.alink{
    font-size: 1.5em;
    /* font-size: 25px; */
    font-family: 'Times New Roman', Times, serif;
    color: rgb(76, 78, 212);
    text-decoration: none;
    margin-left: 3%;
    position: relative;
    left: 70%;
    bottom: 2.3em;
}

.desenho{
    width: 28%;
    height: 83%;
    position: relative;
    left: 15%;
}

.pt{
    font-size: 1.5em;
    /* font-size: 25px; */
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    /* display: inline; */
    width: 28%;
    position: relative;
    margin: 0;
    margin-right: 0;
    margin-left: 0;
    left: 55%;
    bottom: 70%;
}

pre{
    font-size: 1.3em;
    /* font-size: 20px; */
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    text-align: center;
    left: 44%;
    bottom: 68%;
    margin: 0;
    width: 50%;
}

.link{
    display: inline;
}

.icon{
    position: relative;
    left: 57%;
    bottom: 60%;
    margin-left: 1%;
}

.iconi{
    width: 3.5em;
    height: 3.5em;
}

.fb{
    width: 30%;
}

.f{
    font-size: 1em;
    /* font-size: 20px; */
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}